.about-us-section{
    background: #F0EBE3;
    padding: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #576F72;

    .heading-secondary{
        margin-bottom: 50px;
        color: #576F72;
        width: 80%;
        font-size: 45px;
        letter-spacing: 2px;
        text-align: center;
    }

    .cards-container{
        width: 80%;
        display: flex;
        justify-content: space-between;

        .about-us-card{
            width: 30%;
            text-align: center;
            padding: 50px;
            transition: all 0.2s;

            .card-icon{
                font-size: 45px;
                margin-bottom: 20px;
            }

            .card-title{
                font-size: 32px;
                letter-spacing: 1px;
                text-transform: capitalize;
                margin-bottom: 15px;
            }

            .card-text{
                font-size: 20px;
                line-height: 24px;
            }

            &:hover{
                transform: scale(1.05);
                box-shadow: 0 3px 10px rgba(#576F72, 0.2);
            }
        }
    }
}

@media only screen and (max-width: 950px){
    .about-us-section{
        padding: 8vh;

        .heading-secondary{
            margin-bottom: 30px;
            width: 90%;
            font-size: 45px;
        }

        .cards-container{
            width: 95%;

            .about-us-card{
                width: 32%;
                padding: 30px;
    
                .card-icon{
                    font-size: 30px;
                    margin-bottom: 15px;
                }
    
                .card-title{
                    font-size: 26px;
                    margin-bottom: 10px;
                }

                .card-text{
                    font-size: 18px;
                    line-height: 20px;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px){
    .about-us-section{

        .cards-container{
            width: 80%;
            flex-wrap: wrap;

            .about-us-card{
                width: 75%;
                padding: 50px;
    
                .card-icon{
                    font-size: 50px;
                    margin-bottom: 20px;
                }
    
                .card-title{
                    font-size: 32px;
                    margin-bottom: 15px;
                }

                .card-text{
                    font-size: 20px;
                    line-height: 24px;
                }
            }
        }
    }
}

@media only screen and (max-width: 470px){
    .about-us-section{
        padding: 6vh;

        .heading-secondary{
            margin-bottom: 20px;
            width: 90%;
            font-size: 30px;
        }

        .cards-container{
            width: 90%;

            .about-us-card{
                width: 100%;
                padding: 30px;
    
                .card-icon{
                    font-size: 30px;
                    margin-bottom: 15px;
                }
    
                .card-title{
                    font-size: 24px;
                    margin-bottom: 10px;
                }

                .card-text{
                    font-size: 18px;
                    line-height: 20px;
                }
            }
        }
    }
}