.about-us-section{
    background: #F0EBE3;
    padding: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #576F72;

    .heading-secondary{
        margin-bottom: 50px;
        color: #576F72;
        width: 80%;
        font-size: 45px;
        letter-spacing: 2px;
        text-align: center;
    }

    .cards-container{
        width: 80%;
        display: flex;
        justify-content: space-between;

        .about-us-card{
            width: 30%;
            text-align: center;
            padding: 50px;
            transition: all 0.2s;

            .card-icon{
                font-size: 45px;
                margin-bottom: 20px;
            }

            .card-title{
                font-size: 32px;
                letter-spacing: 1px;
                text-transform: capitalize;
                margin-bottom: 15px;
            }

            .card-text{
                font-size: 20px;
                line-height: 24px;
            }

            &:hover{
                transform: scale(1.05);
                box-shadow: 0 3px 10px rgba(#576F72, 0.2);
            }
        }
    }
}