.tour-card{
    width: 45%;
    height: 450px;
    position: relative;
    overflow: hidden;
    transition: 0.2s;
    cursor: pointer;
    user-select: none;

    .bg-image{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        transform: scale(1.1);
        transition: 0.2s;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .details{
        position: absolute;
        z-index: 1;
        bottom: 0;
        color: white;
        padding: 20px;
        width: 100%;
        transform: translateY(40%);
        transition: 0.2s;
        
        .name{
            margin-bottom: 10px;
            font-size: 32px;
            letter-spacing: 2px;
            font-weight: 400;
        }

        .underline{
            width: 40%;
            border-bottom: 2px solid white;
            margin-bottom: 20px;
            transition: 0.2s;
            transition-delay: 0.2s;
        }

        .other-details{
            .detail{
                margin-right: 10px;

                .icon{
                    vertical-align: top;
                }
            }
        }
    }

    .visiting-places{
        position: absolute;
        color: white;
        z-index: 2;
        top: 100px;
        height: calc(100% - 240px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        opacity: 0;
        transition: 0.2s;
        transition-delay: 0.3s;
    }

    .price{
        background: #576F72;
        color: white;
        position: absolute;
        z-index: 2;
        top: 20px;
        right: 0px;
        padding: 5px 10px;
        transform: rotate(-90deg);
    }

    &:hover, &:active{
        .bg-image{
            transform: scale(1);

            img{
                filter: brightness(50%);
            }
        }

        .underline{
            width: calc(100% - 40px);
        }

        .details{
            transform: translateY(0);
        }

        .visiting-places{
            opacity: 1;
        }
    }
}

@media only screen and (max-width: 650px){
    .tour-card{
        width: 70%;
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 470px){
    .tour-card{
        width: 90%;
    }
}