.best-car-section{
    height: 93vh;
    background-image: linear-gradient(
        to right,
        #F0EBE3 60%,
        #576F72 40%
        );
    display: flex;
    align-items: center;
    justify-content: center;

    .content{
        width: 80%;
        padding-top: 30px;
        display: flex;
        justify-content: space-between;
    }

    .image-container{
        width: 60%;
        height: 100%;

        img{
            width: 100%;
            height: 100%;
            object-fit: scale-down;
        }
    }

    .car-info{
        width: 30%;
        margin-top: 7%;

        .title{
            font-size: 80px;
            font-family: 'Josefin Sans', sans-serif;
            letter-spacing: 5px;
            text-transform: uppercase;
            margin-bottom: 30px;
        }

        .price{
            font-size: 30px;
            font-family: 'Josefin Sans', sans-serif;
            letter-spacing: 2px;
            margin-bottom: 50px;
        }

        .details-list{
            width: 100%;
            display: flex;
            justify-content: flex-start;
        }

        .detail{
            width: 23%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-right: 50px;

            .icon{
                font-size: 50px;
            }

            .text{
                white-space: nowrap;
                font-size: 24px;
            }
        }
    }

    .btn-primary{
        position: absolute;
        bottom: 17vh;
        background: #576F72;
        transition: all 0.5;

        &:hover{
            background: rgba(#576F72, 0.9);
        }
    }
}


@media only screen and (max-width: 1150px){
    .best-car-section{
        .content{
            .car-info{
                .title{
                   font-size: 60px; 
                   letter-spacing: 4px;
                }
                .price{
                    font-size: 25px;
                }
                .detail{
                    .icon{
                        font-size: 40px;
                    }
                    .text{
                        font-size: 20px;
                    }
                }
            }
            .btn-primary{
                bottom: 13vh;
            }
        }
    }
}

@media only screen and (max-width: 950px){
    .best-car-section{
        .content{
            .btn-primary{
                bottom: 10vh;
            }
        }
    }
}

@media only screen and (max-width: 850px){
    .best-car-section{
        .content{
            .btn-primary{
                bottom: 7vh;
            }
        }
    }
}

@media only screen and (max-width: 750px){
    .best-car-section{
        .content{
            padding-top: 0px;
            .car-info{
                .details-list{
                    flex-wrap: wrap;
                    .detail{
                        width: 45%;
                        margin-bottom: 10px;
                    }
                }
            }
            .btn-primary{
                bottom: 5vh;
            }
        }
    }
}

@media only screen and (max-width: 600px){
    .best-car-section{
        padding-top: 70px;
        background-image: linear-gradient(
        to bottom right,
        #F0EBE3 60%,
        #576F72 40%
        );

        .content{
            width: 100%;
            flex-direction: column;
            padding-top: 70px;

            .image-container{
                height: 45%;
                width: 90%;
                margin: auto;
            }

            .car-info{
                height: 50%;
                width: 75%;
                margin: auto;

                .title{
                    font-size: 40px;
                }
                
                .details-list{
                    width: 70%;
                    .detail{
                        width: 23%;
                    }
                }

            }
        }

        .btn-primary{
            position: relative;
            top: 40px;
            margin: 0px 10%;
        }
    }
}