.homepage{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(
        to right bottom,
        rgba(#111111, 0.7) 10%,
        rgba(#252525, 0.5)
        ),
        url("../../assets/images/homepage-background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: height 999999s;
}

.heading-primary{
    font-size: 100px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 7px;
    color: rgba($color: #F0EBE3, $alpha: 0.6);
}

.heading-secondary{
    font-weight: 400;
    text-transform: capitalize;
    color: rgba($color: #F0EBE3, $alpha: 0.7);
}

.heading-cursor{
    font-size: 110px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
    color: rgba($color: #F0EBE3, $alpha: 0.55);
}

.btn-container{
    position: absolute;
    bottom: 10vh;
}

@media only screen and (max-width: 950px){
    .heading-primary{
        font-size: 80px;
    }

    .heading-cursor{
        font-size: 90px;
    }
}

@media only screen and (max-width: 470px){
    .homepage{
        background-image: linear-gradient(
            to right bottom,
            rgba(#111111, 0.7) 10%,
            rgba(#252525, 0.5)
            ),
            url("../../assets/images/mobile-background.jpg");
    }

    .heading-primary{
        font-size: 50px;
        letter-spacing: 4px;
    }

    .heading-cursor{
        font-size: 60px;
    }

    .heading-secondary{
        font-size: 18px;
    }

    .btn-container{
        bottom: 20vh;
    }
}